.grid {
    display: grid;
    margin: auto;
    grid-template-columns: repeat(9, 1fr); /* 横9列 */
    gap: 8px;
    max-width: 600px;
  }
  
  .checkboxLabel {
    display: flex;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
  }
  
  /* checkboxLabel の input に適用 */
  .checkboxLabel input {
    cursor: pointer;
  }
  